@import './vars.scss';

@font-face {
  font-family: 'MetaShift';
  src: url('../fonts/roboto_condensed/RobotoCondensed-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MetaShiftBold';
  src: url('../fonts/roboto_condensed/RobotoCondensed-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MetaShiftItalic';
  src: url('../fonts/roboto_condensed/RobotoCondensed-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MetaShiftCode';
  src: url('../fonts/jetbrain_mono/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MetaShiftCodeItalic';
  src: url('../fonts/jetbrain_mono/JetBrainsMono-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.metashift {
  font-family: 'MetaShift';
  
  .page {
    margin-right: 100px;
  }

  h1 {
    margin-top: 30px;
  }
  
  h2 {
    margin-top: 30px;
    margin-left: 30px;
  }
  
  h3 {
    margin-top: 20px;
    margin-left: 40px;
  }
  
  h4 {
    margin-top: 10px;
    margin-left: 30px;
    font-size: 20px;
  }

  .section {
    padding-left: 40px;
    display: inline-block;
    width: 100%;
  }

  .column {
    width: 50%;
    display: inline-block;
    position: relative;
  }

  .metrics-threshold {
    display: inline-block;
    color: rgb(201, 201, 201);
    font-weight: normal;
    position: absolute;
    right: calc(50% - 120px);
  }
  // recipe metrics detail page scale value
  .metrics-scale {
    font-size: 40px;
    display: inline-block;
    font-weight: normal;
    position: absolute;
    right: 0%;
    top: 25px;
  }

  .metashift-code {
    font-family: 'MetaShiftCode';
  }

  .cm-line {
    @extend .metashift-code;
  }

  .badge {
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
    padding: 3px;
  }

  .bg-na {
    background-color: #303030;
  }

  .bg-pass {
    background-color: #1ea01e;
  }

  .bg-fail {
    background-color: #9e1e1e;
  }

  .bg-error {
    background-color: black;
  }

  .bg-major {
    background-color: red;
  }

  .bg-minor {
    background-color: orange;
  }

  .bg-info {
    background-color: gray;
  }

  .files-table {
    width: 100%;
  }

  .tabulator {
    font-family: 'MetashiftCode';

    // tabular-cell progress
    .tabulator-cell {
      .progress {
        width: 100%;
        height: 30px;
        background-color: rgb(224, 224, 224);
      }

      .locale-number {
        text-align: right;
      }

      .progress-bar {
        height: 30px;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        background-color: $progress-bar-color;
      }

      .progress-bar.positive {
        background-color: $progress-bar-color-positive;
      }

      .progress-bar.negative {
        background-color: $progress-bar-color-negative;
      }

      .progress-bar-legend {
        position: absolute;
        top: 5px;
        text-align: center;
        width: 100%;
      }

      .qualified-check {
        text-align: center;
      }
    }
    
    .tabulator-col-content {
      background-color: black;
      color: white;
    }
  }

  .qualified {
    font-size: 20px;
  }

  .qualified-pass {
    @extend .qualified;
    color: $qualified-pass;
  }

  .qualified-fail {
    @extend .qualified;
    color: $qualified-fail;
  }

  // split.js
  .split-panel {
    display: flex;
    flex-direction: row;
    height: 500px;

    .source-code-editor {
      display: inline-block;
      width: 100%;
      height: calc(100% - 56px);
      border: 1px solid grey
    }

    .cm-editor {
      height: 100%;
    }

    .sourceBlock {
      background: $source-block;
    }

    .sourceCovered {
      background: $source-good;
    }

    .sourceUncovered {
      background: $source-bad;
    }

    .sourceNotComplex {
      background: $source-good;
    }

    .sourceComplex {
      background: $source-bad;
    }

    .sourceDuplicated1 {
      background: $duplicate-1;
    }
    .sourceDuplicated2 {
      background: $duplicate-2;
    }
    .sourceDuplicated3 {
      background: $duplicate-3;
    }
    .sourceDuplicated4 {
      background: $duplicate-4;
    }
    .sourceDuplicated5 {
      background: $duplicate-5;
    }

    .gutter {
      background-color: #eee;
      background-repeat: no-repeat;
      background-position: 50%;
    }

    .gutter.gutter-vertical {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    }

    .gutter.gutter-horizontal {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    }

    .list-group {
      height: calc(100% - 56px);
      overflow: auto;
    }

    .list-item {
      border: 1px solid;
      border-radius: 3px;
      border-color: gray;
    }
  }
}

build-trend-chart {
  .chart {
    width: 600px;
    height: 500px;
  }
}

code-size {
  .size-item {
    display: inline-block;
    border: 1px solid;
    border-radius: 3px;
    border-color: gray;
    margin: 2px;
    text-align: center;
    width: 200px;
    padding: 5px;
    background-color: rgb(247, 247, 239);
  }

  .title {
    font-size: 16px;
    font-weight: bold;
  }

  .size-number {
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
  }

  .size-diff {
    font-size: 20px;
    font-weight: normal;
  }
}

code-size.summary {
  .size-item {
    width: 190px;
  }
}

metrics-simple-view {
  display: inline-block;
  background-color: #fff;

  margin: 2px;
  text-align: center;
  width: 200px;
  border: white solid;
  border-width: 1px;

  .board{
    border: 1px solid;
    border-radius: 3px;
    border-color: gray;
  }

  .text-na {
    color: $na-text-color;
  }

  .metrics-name {
    width: 100%;
    padding-top: 8px;
    font-size: 16px;
    position: relative;
    display: inline-block;

    .icon {
      display: inline-block;
      position: absolute;
      right: 6px;
      top: 3px;
      font-size: 20px;

      .fa-check-circle {
        color: green;
      }

      .fa-times-circle {
        color: red;
      }

      .fa-minus-circle {
        color: black;
      }
    }
  }

  .size-number {
    display: inline-block;
    width: 100%;
    font-family: 'MetaShiftBold';
    font-size: 40px;
    line-height: 40px;
  }

  .size-diff {
    font-size: 20px;
  }

  .progress {
    margin-top: 2px;
    width: 100%;
    height: 10px;
    background-color: $metrics-simple-view-progress-bg-color;
    position: relative;
    .progress-bar {
      height: 10px;
      background-color: $metrics-simple-view-progress-color;
    }

    .progress-tooltip {
      visibility: hidden;
      width: 170px;
      background-color: black;
      color: #fff;
      text-align: center;
      padding: 5px 0;
      border-radius: 3px;
 
      position: absolute;
      left: 20px;
      top: 10px;
      z-index: 1;
    }
  }

  .progress:hover {
    .progress-tooltip {
      visibility: visible;
    }
  }
}

metrics-simple-view.link {
  cursor: pointer;
}

metrics-simple-view.summary {
  width: 190px;

  .ico {
    padding: 0px 20px 5px 10px;
  }
  .title {
    padding-top: 2px;
  }
}

/*
metrics-simple-view.has-url:hover {
  border: black solid;
  border-width: 1px;
}
*/

tested-simple-view {
  @extend metrics-simple-view;

  background-color: rgb(238, 238, 238);

  .size-number {
    color: rgb(0, 0, 158);
  }

  .metrics-name {
    padding-left: 0px;
  }
}

distribution-bar {
  .test-stats {
    width: 100%;
    height: 10px;
    background-color: $invalid-color;
    margin-bottom: 10px;
  }

  .rate {
    height: 10px;
    float: left;
  }

  .valid-good {
    @extend .rate;
    background-color: $valid-good-color;
  }

  .valid-bad {
    @extend .rate;
    background-color: $valid-bad-color;
  }

  .valid-error {
    @extend .rate;
    background-color: $valid-error-color;
  }

  .invalid {
    @extend .rate;
    background-color: $invalid-color;
  }

  .major {
    @extend .rate;
    background-color: $major-color;
  }

  .minor {
    @extend .rate;
    background-color: $minor-color;
  }

  .informational {
    @extend .rate;
    background-color: $info-color;
  }
  
  .legend {
    display: flex;
    font-size: 24px;
    width: 100%;

    .label {
      background-color: white;
      display: inline-block;
    }

    .spacer {
      flex-grow: 1;
    }

    .valid-good {
      color: $valid-good-color;
    }
  
    .valid-bad {
      color: $valid-bad-color;
    }
  
    .valid-error {
      color: $valid-error-color;
    }
  
    .invalid {
      color: $invalid-color;
    }
  
    .major {
      color: $major-color;
    }
  
    .minor {
      color: $minor-color;
    }
  
    .informational {
      color: $info-color;
    }
  }
}

statistics-bar {
  @extend distribution-bar;

  .metrics-stats {
    width: 100%;
    height: 10px;
    background-color: $empty-color;
    position: relative;
    margin-bottom: 10px;
  }

  .empty {
    @extend .rate;
    background-color: $empty-color;
  }

  .range {
    @extend .rate;
    position: absolute;
    background-color: $invalid-color;
  }

  .pointer {
    top: -8px;
    position: absolute;
    display: inline-block;
    font-size: 24px;

    .pointer-text {
      position: relative;
      left: -8px;
      top: 6px;
    }
  }

  .threshold {
    color: $threshold-color;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $threshold-outline-color;
  }

  .avg {
    color: $average-color;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $average-outline-color;
  }

  .scale {
    color: $scale-color;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $scale-outline-color;
  }
}

test-rate {
  @extend distribution-bar;
}

.treemap-chart {
  .chart {
    height: 300px;
  }

  .legend {
    width: 100%;
    text-align: center;
    position: relative;
    top: -20px;

    .legend-1 {
      color: $treemap-colors-legend1;
    }
    .legend-2 {
      color: $treemap-colors-legend2;
    }
    .legend-3 {
      color: $treemap-colors-legend3;
    }
    .legend-4 {
      color: $treemap-colors-legend4;
    }
    .legend-5 {
      color: $treemap-colors-legend5;
    }
    .legend-6 {
      color: $treemap-colors-legend6;
    }
    .legend-7 {
      color: $treemap-colors-legend7;
    }
  }

  .tooltip-title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }
  .tooltip-body {
    text-align: center;
    width: 100%;
    min-width: 400px;
    align-content: center;
  }
  .tooltip-column {
    display: inline-block;
    width: 190px;
    vertical-align: top;
  }
  .tooltip-column-gap {
    display: inline-block;
    width: 10px;
  }
  .tooltip-section {
    font-weight: bold;
    margin-top: 10px;
  }
  .tooltip-qualified-key {
    width: 140px;
    text-align: right;
    display: inline-block;
  }
  .tooltip-qualified-value {
    width: 50px;
    text-align: left;
    display: inline-block;
  }
  .good {
    color: rgb(10, 150, 10);
  }
  .bad {
    color: $valid-bad-color;
  }
}

coverage-file-view {
  table.branch-coverage {
    width: 100%;
    border: 1px solid;
    text-align: center;
    th {
      background-color: rgb(201, 201, 201);
    }
    th,td{
      border: 1px solid;
    }
  }
}

complexity-file-view {
  table.complexity {
    width: 100%;
    border: 1px solid;
    text-align: center;
    th {
      background-color: rgb(201, 201, 201);
    }
    th,td{
      border: 1px solid;
    }
  }
}