@import './vars.scss';

@font-face {
  font-family: 'MetaShift';
  src: url('../fonts/roboto_condensed/RobotoCondensed-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MetaShiftBold';
  src: url('../fonts/roboto_condensed/RobotoCondensed-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MetaShiftItalic';
  src: url('../fonts/roboto_condensed/RobotoCondensed-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MetaShiftCode';
  src: url('../fonts/jetbrain_mono/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MetaShiftCodeItalic';
  src: url('../fonts/jetbrain_mono/JetBrainsMono-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.metashift {
  font-family: 'MetaShift';
  
  .page {
    margin-right: 100px;
  }

  h1 {
    margin-top: 30px;
  }
  
  h2 {
    margin-top: 30px;
  }
  
  h3 {
    margin-top: 20px;
    margin-left: 10px;
  }
  
  h4 {
    margin-top: 10px;
    margin-left: 30px;
    font-size: 20px;
  }

  .small-upper {
    font-size: 12px;
    vertical-align: top;
  }

  .metrics-row {
    padding: 0px 30px 0px 30px;
  }

  .metrics-scale {
    font-size: 40px;
  }

  .badge {
    border-radius: 6px;
    font-weight: bold;
    font-size: 12px;
    color: white;
    padding: 3px;
    margin: 3px 3px;
  }

  .list-group {
    height: 100%;
    overflow: auto;
  }

  .list-item {
    border: 1px solid;
    border-radius: 3px;
    border-color: gray;
  }
}

.ico {
  padding: 0px 18px 5px 30px;
  background-position: 50%;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  float: right;
  height: 24px;
  content:"";
}

.metashift-code {
  font-family: 'MetaShiftCode';
}

// icon
.ico-pass:after {
  @extend .ico;

  background-image: url('../img/check_circle_black_36dp.png');
}

.ico-fail:after {
  @extend .ico;
  
  background-image: url('../img/cancel_black_36dp.png');
}

.ico-na:after {
  @extend .ico;

  background-image: url('../img/remove_circle_black_36dp.png');
}

build-trend-chart {
  .chart {
    width: 600px;
    height: 500px;
  }
}

build-summary {
  width: 625px;
  display: block;
  background-color: rgb(248, 248, 248);
  div {
    display: inline-block;
    height: 30px;
    vertical-align: middle;
    margin: 1px;
    padding: 0px;
    //border: 1px solid;
    border-color: rgb(190, 190, 190);
  }
  .title {
    width: 25%;
    background-color: rgb(194, 194, 194);
    text-align: center;
  }

  .ratio {
    width: 15%;
    background-color: #fff;
    text-align: center;
  }
  .description {
    width: 30%;
  }

  .progress {
    width: 55%;
    height: 20px;
    margin: 0px;
    background-color: rgb(202, 202, 202);
  }

  .progress-bar {
    margin: 0px;
    height: 20px;
  }
}

code-size {
  .size-item {
    display: inline-block;
    border: 1px solid;
    border-radius: 3px;
    border-color: gray;
    margin: 2px;
    text-align: center;
    width: 200px;
    padding: 5px;
  }

  .title {
    font-size: 16px;
    font-weight: bold;
  }

  .size-number {
    //font-family: 'MetaShiftBold';
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
  }

  .size-diff {
    font-size: 20px;
    font-weight: normal;
    color: gray;
  }
}

metrics-simple-view {
  display: inline-block;
  background-color: #fff;

  margin: 2px;
  text-align: center;
  width: 220px;

  .board{
    border: 1px solid;
    border-radius: 3px;
    border-color: gray;
  }

  .title {
    padding-top: 8px;
    padding-left: 40px;
    font-size: 16px;
  }

  .size-number {
    display: inline-block;
    width: 100%;
    font-family: 'MetaShiftBold';
    font-size: 40px;
    line-height: 40px;
  }

  .size-diff {
    font-size: 20px;
    color: gray;
  }

  .progress {
    margin-top: 2px;
    width: 100%;
    height: 10px;
    background-color: $metrics-simple-view-progress-bg-color;
  }

  .progress-bar {
    height: 10px;
    background-color: $metrics-simple-view-progress-color;
  }
}

metrics-simple-view.has-url:hover {
  transform: scale(1.1);
}

tested-simple-view {
  @extend metrics-simple-view;

  background-color: rgb(238, 238, 238);

  .size-number {
    color: rgb(0, 0, 158);
  }

  .title {
    padding-left: 0px;
  }
}

statistics-bar {
  .test-stats {
    width: 100%;
    height: 10px;
    background-color: $invalid-color;
  }

  .rate {
    height: 10px;
    float: left;
  }

  .valid-good {
    @extend .rate;
    background-color: $valid-good-color;
  }

  .valid-bad {
    @extend .rate;
    background-color: $valid-bad-color;
  }

  .valid-error {
    @extend .rate;
    background-color: $valid-error-color;
  }

  .invalid {
    @extend .rate;
    background-color: $invalid-color;
  }

  .major {
    @extend .rate;
    background-color: $major-color;
  }

  .minor {
    @extend .rate;
    background-color: $minor-color;
  }

  .informational {
    @extend .rate;
    background-color: $info-color;
  }
  
  .legend {
    display: flex;
    font-size: 24px;
    width: 100%;

    .label {
      background-color: white;
      display: inline-block;
    }

    .spacer {
      flex-grow: 1;
    }

    .valid-good {
      color: $valid-good-color;
    }
  
    .valid-bad {
      color: $valid-bad-color;
    }
  
    .valid-error {
      color: $valid-error-color;
    }
  
    .invalid {
      color: $invalid-color;
    }
  
    .major {
      color: $major-color;
    }
  
    .minor {
      color: $minor-color;
    }
  
    .informational {
      color: $info-color;
    }
  }
}

test-rate {
  @extend statistics-bar;
}

recipe-treemap {
  .chart {
    height: 300px;
  }

  .legend {
    width: 100%;
    text-align: center;
    position: relative;
    top: -20px;

    .legend-1 {
      color: #e83336;
    }
    .legend-2 {
      color: #b83b40;
    }
    .legend-3 {
      color: #6e3d44;
    }
    .legend-4 {
      color: #575866;
    }
    .legend-5 {
      color: #306946;
    }
    .legend-6 {
      color: #33a653;
    }
    .legend-7 {
      color: #30cf3a;
    }
  }
}

.text-na {
  color: gray;
}

.text-pass {
  color: #00ff00;
}

.text-fail  {
  color: #ff0000;
}

.bg-na {
  background-color: #00ff00;
}

.bg-pass {
  background-color: #00ff00;
}

.bg-fail {
  background-color: #ff0000;
}

.bg-error {
  background-color: black;
}

.bg-major {
  background-color: red;
}

.bg-minor {
  background-color: orange;
}

.bg-info {
  background-color: gray;
}

.tabulator {
  font-family: 'MetashiftCode';
}

// tabular-cell progress
.tabulator-cell {
  .progress {
    width: 100%;
    height: 30px;
    background-color: rgb(224, 224, 224);
  }

  .progress-bar {
    height: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    background-color: $progress-bar-color;
  }

  .progress-bar-legend {
    position: absolute;
    top: 5px;
    text-align: center;
    width: 100%;
  }
}

.tabulator-header {
  color: white;
  background-color: black;
}

.circle {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  text-align: center;
}

.circle-small {
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 2px;
  line-height: 20px;
  border-radius: 50%;
  font-size: 16px;
  color: #fff;
  text-align: center;
}

// monaco editor
.sourceMarginBlock {
  background: red;
}
.sourceBlock {
  background: lightblue;
}

.sourceCovered {
  background: green;
}

.sourceUncovered {
  background: red;
}

.sourceNotComplex {
  background: green;
}

.sourceComplex {
  background: red;
}

.monaco-editor {
  width: 100%;
  height: 100%;
  border: 1px solid grey
}

// split.js
.split-panel {
  display: flex;
  flex-direction: row;
}

.gutter {
background-color: #eee;

background-repeat: no-repeat;
background-position: 50%;
}

.gutter.gutter-vertical {
background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}

.gutter.gutter-horizontal {
background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

coverage-file-view {
  table.branch-coverage {
    width: 100%;
    border: 1px solid;
    text-align: center;
    th {
      background-color: rgb(201, 201, 201);
    }
    th,td{
      border: 1px solid;
    }
  }
}

complexity-file-view {
  table.complexity {
    width: 100%;
    border: 1px solid;
    text-align: center;
    th {
      background-color: rgb(201, 201, 201);
    }
    th,td{
      border: 1px solid;
    }
  }
}