@import './vars.scss';

@font-face {
  font-family: 'MetaShift';
  src: url('../fonts/OpenSansCondensed-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MetaShiftBold';
  src: url('../fonts/OpenSansCondensed-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MetaShiftItalic';
  src: url('../fonts/OpenSansCondensed-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.metashift {
  font-family: 'MetaShift';
  
  h1 {
    margin-top: 30px;
  }
  
  h2 {
    margin-top: 30px;
  }
  
  h3 {
    margin-top: 10px;
    margin-left: 20px;
  }
  
  h4 {
    margin-top: 10px;
    font-size: 24px;
  }

  .small-upper {
    font-size: 12px;
    vertical-align: top;
  }

  .metrics-row {
    padding: 10px 20px 0px 20px;
  }

  .badge {
    border-radius: 6px;
    font-weight: bold;
    font-size: 12px;
    color: white;
    padding: 3px;
    margin: 3px 3px;
  }

  .list-group {
    height: 100%;
    overflow: auto;
  }

  .list-item {
    border: 1px solid;
    border-radius: 3px;
    border-color: gray;
  }
}

.ico {
  padding: 0px 18px 5px 30px;
  background-position: 50%;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  float: right;
  height: 24px;
  content:"";
}

// icon
.ico-pass:after {
  @extend .ico;

  background-image: url('../img/check_circle_black_36dp.png');
}

.ico-fail:after {
  @extend .ico;
  
  background-image: url('../img/cancel_black_36dp.png');
}

.ico-na:after {
  @extend .ico;

  background-image: url('../img/remove_circle_black_36dp.png');
}

build-trend-chart {
  .chart {
    width: 600px;
    height: 500px;
  }
}

build-summary {
  width: 800px;
  display: block;

  div {
    display: inline-block;
  }
  .title {
    width: 20%;
  }

  .ratio {
    width: 15%;
  }
  .description {
    width: 30%;
  }

  .progress {
    width: 33%;
    height: 10px;
    background-color: gray;
  }

  .progress-bar {
    height: 10px;
  }
}

code-size {
  .size-item {
    display: inline-block;
    border: 1px solid;
    border-radius: 3px;
    border-color: gray;
    margin: 2px;
    text-align: center;
    width: 200px;
    padding: 5px;
  }

  .title {
    font-size: 16px;
    font-weight: bold;
  }

  .size-number {
    //font-family: 'MetaShiftBold';
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
  }

  .size-diff {
    font-size: 20px;
    color: gray;
  }
}

metrics-simple-view {
  display: inline-block;
  
  margin: 2px;
  text-align: center;
  width: 200px;

  .board{
    border: 1px solid;
    border-radius: 3px;
    border-color: gray;
  }

  .title {
    padding-top: 8px;
    padding-left: 40px;
    font-size: 16px;
  }

  .size-number {
    font-family: 'MetaShiftBold';
    font-size: 40px;
    line-height: 40px;
  }

  .progress {
    margin-top: 2px;
    width: 100%;
    height: 10px;
    background-color: gray;
  }

  .progress-bar {
    height: 10px;
    background-color: rgb(0, 53, 151);
  }
}

metrics-simple-view.has-url:hover {
  transform: scale(1.05);
  background-color: rgb(49, 49, 49);
  color: white;
}

tested-simple-view {
  @extend metrics-simple-view;

  background-color: rgb(238, 238, 238);

  .size-number {
    color: rgb(0, 0, 158);
  }

  .title {
    padding-left: 0px;
  }
}

.text-na {
  color: gray;
}

.text-pass {
  color: #00ff00;
}

.text-fail  {
  color: #ff0000;
}

.bg-na {
  background-color: #00ff00;
}

.bg-pass {
  background-color: #00ff00;
}

.bg-fail {
  background-color: #ff0000;
}

.bg-major {
  background-color: red;
}

.bg-minor {
  background-color: orange;
}

.bg-info {
  background-color: gray;
}

// tabular-cell progress
.tabulator-cell {
  .progress {
    width: 100%;
    height: 30px;
    background-color: rgb(224, 224, 224);
  }

  .progress-bar {
    height: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    background-color: rgb(145, 161, 177);
  }
}

.circle {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  text-align: center;
}

.circle-small {
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 2px;
  line-height: 20px;
  border-radius: 50%;
  font-size: 16px;
  color: #fff;
  text-align: center;
}

// monaco editor
.sourceMarginBlock {
  background: red;
}
.sourceBlock {
  background: lightblue;
}

.sourceCovered {
  background: green;
}

.sourceUncovered {
  background: red;
}

.monaco-editor {
  width: 100%;
  height: 100%;
  border: 1px solid grey
}

// split.js
.split-panel {
  display: flex;
  flex-direction: row;
}

.gutter {
background-color: #eee;

background-repeat: no-repeat;
background-position: 50%;
}

.gutter.gutter-vertical {
background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}

.gutter.gutter-horizontal {
background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}