.metashift h1 {
    margin-top: 30px;
}

.metashift h2 {
    margin-top: 30px;
}

.metashift h3 {
    margin-top: 10px;
    margin-left: 20px;
}

.overview-text {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.overview h4 {
  text-align: center;
}

.overview p {
  text-align: center;
  font-size: 20px;
}

.overview .panel {
  margin: 2px;
}

.summary .title {
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.summary .ratio {
  width: 100%;
  text-align: center;
  font-size: 30px;
}

.summary .description {
  width: 100%;
  text-align: center;
  font-size: 15px;
}

.measurement-group.badge {
    margin-left: 50px;
}

.measurement-card {
    height: 300px;
    padding: 10px;
}

.measurement-row {
    font-size: 14px;
}

.description-text {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.value-pass {
    font-size: 35px;
    color: rgb(123, 255, 0)
}
.value-fail {
    font-size: 35px;
    color: rgb(206, 14, 0)
}
.value-detail {
    font-size: 30px;
}

.circle {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    text-align: center;
}

.circle-small {
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 2px;
    line-height: 20px;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.build-table {
  width: 100%;
  padding: 0px;
  border-spacing: 0px;
}

.build-table td, .build-table th {
  border: 1px solid black;
}